<div class="row">

  <% @products.each do |product|%>
    <div class="pr-div1 col-xs-6 col-md-3">
      <%= link_to product_path(product) do %>
         <% if product.image.present? %>
            <%= image_tag(product.image.thumb.url, class: "thumbnail")%>
         <% else %>
           <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail")%>
         <% end %>
      <% end %>
      <%=link_to(product.title, product_path(product))%>
      <br />
    ￥ <%=link_to(product.price, product_path(product))%>
      <% if product.quantity.present? && product.quantity > 0 %>
        <i class="fa fa-shopping-cart"></i>
        <%=link_to("加入购物车", add_to_cart_product_path(product), method: :post, class:"btn btn-lg")%>
      <%else%>
        已销售一空，无法购买
      <%end%>
    </div>
  <% end %>
</div>
